html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

body {
  height: calc(100% - 50px);
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
  color: #fff;
  background-color: #293846;
}

.nav {
  li.active {
    border-left: 4px solid #19aa8d;
    a {
      background-color: #202c38;
    }
  }

  li {
    a {
      color: #a7b1c2;
      font-weight: 600;
      padding: 14px 20px 14px 25px;
    }

    a:focus, a:hover {
      background-color: #293846 !important;
    }
  }
}

table.table-notes {
  .file-icon {
    margin-right: 10px;
  }
}

.custom-panel {
  min-height: 200px;
  border: 1px solid #DDD;
  border-radius: 4px;
  padding: 8px;
  box-shadow: 1px 1px 5px #DDD;
  background-color: #FFF;
  margin-bottom: 20px;
}

.shadow {
  box-shadow: 1px 1px 5px #DDD;
}

.title {
  border-bottom: 1px solid #DDD;
  padding: 14px;
  background-color: #FFF;
  margin: -10px -25px;
  margin-bottom: 20px;
  h3 {
    margin: 0;
  }
}

.card {
  min-height: 150px;
  margin: 15px;
  div {
    border: 1px solid #DDD;
    min-height: 150px;
    padding: 10px;
    box-shadow: 1px 1px 5px #DDD;
  }
}


//HOME PAGE
.parallax-window {
    min-height: 400px;
    background: transparent;
}

.home-page-container {
  color :#e6e6e6;
}

.footer {
    background-color: #243240;
    min-height: 150px;
    margin: 0 -15px;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 15px;
}

//COURSES PAGE
.course-preview {
  border: 1px solid #DDD;
  padding: 15px;
  cursor: pointer;
  margin-bottom: 15px;
  &:hover {
    background-color: #f5f5f5;
  }
}

// DASHBOARD

#add-flashcard {
  min-height: 150px;
  margin: 15px;
}

button#btn-add-flashcard {
    width: 100%;
    height: 150px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}