{% extends "base.html" %}

{% load staticfiles %}

{% block stylesheet %}
<link rel="stylesheet" type="text/x-scss" href="{% static 'sass/style.scss' %}">
{% endblock %}

{% block content %}
<div id="wrapper">
    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li class="active">
                <a href="index.html"><i class="fa fa-fw fa-user"></i> Profile</a>
            </li>

            <li>
                <a href="javascript:;" data-toggle="collapse" data-target="#courses"><i class="fa fa-fw fa-book"></i>
                    Courses <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="courses" class="collapse in">
                    <li>
                        <a href="#">Course 1</a>
                    </li>
                    <li>
                        <a href="#">Course 2</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->

    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 custom-panel">
                    <h4>Courses</h4>
                    <button type="button" data-toggle="modal" data-target="#create-course-dialog" class="btn btn-default">Create Course...</button>
                    <button type="button" class="btn btn-default">Add Course...</button>

                    <br><br>
                    <div class="row" id='course_container'>
                        <div class="col-xs-6 col-sm-4">
                            <div class="course-preview shadow">
                                <div class="course-name">Course Name</div>
                                <br>
                                <div class="course-description text-muted">Post no so what deal evil rent by real in. But her ready
                                    least set lived spite solid. September how men saw tolerably two behaviour
                                </div>
                                <br>
                                <div class="course-instructor">
                                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                    <span>Instructor Name</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <div class="course-preview shadow">
                                <div class="course-name">Course Name</div>
                                <br>
                                <div class="course-description text-muted">Post no so what deal evil rent by real in. But her ready
                                    least set lived spite solid. September how men saw tolerably two behaviour
                                </div>
                                <br>
                                <div class="course-instructor">
                                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                    <span>Instructor Name</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <div class="course-preview shadow">
                                <div class="course-name">Course Name</div>
                                <br>
                                <div class="course-description text-muted">Post no so what deal evil rent by real in. But her ready
                                    least set lived spite solid. September how men saw tolerably two behaviour
                                </div>
                                <br>
                                <div class="course-instructor">
                                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                    <span>Instructor Name</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <div class="course-preview shadow">
                                <div class="course-name">Course Name</div>
                                <br>
                                <div class="course-description text-muted">Post no so what deal evil rent by real in. But her ready
                                    least set lived spite solid. September how men saw tolerably two behaviour
                                </div>
                                <br>
                                <div class="course-instructor">
                                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                    <span>Instructor Name</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="create-course-dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Create Course</h4>
            </div>
            <div class="modal-body">
                <form id="form_add_course">
                    <div class="form-group">
                        <label for="txtTitle">Title</label>
                        <input name="name" type="text" class="form-control" id="txtTitle">
                        </small>
                    </div>

                    <div class="form-group">
                        <label for="txtDescription">Description</label>
                        <textarea name="description" class="form-control" rows="3" id="txtDescription"></textarea>
                        </small>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="btn-create-course"  type="button" class="btn btn-primary">Add</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock %}}
{% block extra_js %}
<script type="text/javascript">
    $('#btn-create-course').click(function(){
        var user = JSON.parse(localStorage.getItem('user'))
        datadict = {'instructor_id': user.id,
                    'description': $('#txtDescription').val(),
                    'name': $('#txtTitle').val() }
        $.ajax({url:api + 'course/',
                data: datadict,
                method: "POST",
                success: function(result){
                    var course = result
                    var calls = [];
                    calls.push(getUserObject(course.instructor))
                    $.when.apply($, calls).done(function() {

                        var template = '<div class="col-xs-6 col-sm-4">' +
                                '<div class="course-preview shadow">' +
                                    '<div class="course-name">'+ course.Name + '</div>' +
                                    '<br>' +
                                    '<div class="course-description text-muted">' + course.Description +
                                    '</div>' +
                                    '<br>' +
                                    '<div class="course-instructor">' +
                                        '<i class="fa fa-graduation-cap" aria-hidden="true"></i>' +
                                        '<span>' + user_obj.name + '</span>' +
                                    '</div>' +
                                '</div>' +
                            '</div>"'
                        $('#course_container').append(template);
                    });
                },  

        })

    })
</script>
{% endblock %}